:root {
  --pink: #ebbab9;
  --grey: #c9c5ba;
  --green: #97b1a6;
  --blue: #698996;
  --teal: #79afb6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "display display display display"
  "clear clear divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals";
}

.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin: 5px;
  background-color: var(--grey);
  color: white;
  cursor: pointer;
  border: 1px solid #333;
  font-size: 20px;
}

.padButton.inner-pad {
  background-color: var(--blue)
}

.padButton.alert-btn {
  background-color: var(--pink);
}

.padButton.alert-btn:hover {
  color: var(--blue);
}

.padButton.inner-pad:hover {
  border: 1px solid white;
  color: #ccc;
}

.padButton.operators:hover {
  border: 1px solid white;
  color: var(--blue);
}

#clear {
  grid-area: clear;
}

#equals {
  grid-area: equals;
  background-color: var(--teal);
}

#decimal {
  grid-area: decimal;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#zero {
  grid-area: zero;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#display-area {
  grid-area: display;
  background-color: var(--teal);
  color:white;
  border: 1px solid #333;
  text-align: right;
  font-size: 20px;
  margin: 5px;
}

#display-area input {
  width: 90%;
  padding: 5px 20px;
  text-align: right;
  font-size: 14px;
}

.total {
  padding: 5px 20px;
  font-size: 40px
}

